.food-list {
    list-style: circle;
    padding: 0 20px;
}
@media (min-width: 1400px) {
    .food-list {
        column-count: 2;
    }
}
@media (min-width: 2100px) {
    .food-list {
        column-count: 3;
    }
}
@media (min-width: 2800px) {
    .food-list {
        column-count: 4;
    }
}

.food-list li span {
    color: #333;
}
.food-list li span:hover,
.food-list li span:focus {
    color: #000;
}
