$color-red: #c94242;
$color-dark-red: #a31f1f;
$color-blue: #407fc7;
$color-dark-blue: #255d9e;

$progress-incomplete: #f0db4e;
$progress-complete: #5cb85c;
$progress-exceeding: #d9534f;
$progress-possibly-exceeding: #f0ad4d;

$font-color: #333;
$font-color-light: #666;
$font-color-hover: #000;

$border-color: #aaa;
$border-color-hover: #888;

$backdrop-color: rgba(0, 0, 0, 0.15);

$shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.15);
$shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

$font-size-sm: 13px;
$font-size-lg: 20px;
$font-size-xl: 26px;

$margin-sm: 4px;
$margin: 8px;
$margin-lg: 16px;
$margin-xl: 32px;
