
/* Code to copy:
   -------------

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;

	filter:alpha( opacity=70 );
	-moz-opacity: .7;
	opacity: .7;

	background-color: #666;
	background-image:-webkit-linear-gradient( #999, #333 );
	background-image:-moz-linear-gradient( #999, #333 );
	background-image:-ms-linear-gradient( #999, #333 );
	background-image:-o-linear-gradient( #999, #333 );
	background-image:linear-gradient( #999, #333 );

*/


/* --- General --- */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block }

* { margin: 0; padding: 0; outline: none; border: none; }
html, body { height: 100% }
nav ul { list-style: none }
a { text-decoration: none }
/* input, button, textarea, :focus { outline: none } */

::-moz-selection {
	background: #333;
	color: #eee;
	text-shadow: none; }

::selection {
	background: #333;
	color: #eee;
	text-shadow: none; }

body {
	min-width: 1200px;
	overflow-y: scroll;
	font-family: 'Open Sans', sans-serif;
	background: #eee url(../img/bg.png) fixed;
	background-size: 100% 100%; }



/* --- Header --- */

#head {
	height: 72px;
	min-width: 670px;
	background: #fff;
	box-shadow: 0 0 5px #000; }

#hgroup {
	float: left;
	margin: 6px 28px; }

#head h1 a {
	float: left;
	display: block;
	font-size: 26px;
	font-weight: 400;
	color: #333; }

#head sup {
	float: left;
	font-size: 9px;
	color: #666; }

#head h2 {
	clear: left;
	font-size: 14px;
	font-weight: 400;
	color: #333; }


/* -- Header Menu -- */

#head nav, #head ul { height: 100%; }

#head li { float: left;	height: 100%; }

#head li a {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: block;
	height: 100%;
	width: 80px;
	padding-top: 30px;
	position: relative;

	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	border-left: 1px solid #999;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	background: #e2e2e2;
	box-shadow: 0 8px 6px rgba(0,0,0,.3) inset; }

#head li:last-child a {	border-right: 1px solid #999; }

#head li a:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute; top: 0; left: 0;

	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s; }

/* Icons: https://www.iconfinder.com/search/?q=iconset%3Awindows-8-metro-style */

#head li:nth-child(1) a:before { background-image: url(../img/home.png) }
#head li:nth-child(2) a:before { background-image: url(../img/tables.png) }
#head li:nth-child(3) a:before { background-image: url(../img/blog.png) }
#head li:nth-child(4) a:before { background-image: url(../img/info.png) }
#head li:nth-child(5) a:before { background-image: url(../img/help.png) }

#head li a:hover, #head li a:focus { /* Needed declaration for IE 10 */ }

#head li a:hover:before,
#head li a:focus:before { top: -65px; }



/* --- Controls --- */

#controls {
	padding: 0 0 12px 12px;
	background: rgba(255,255,255,.15); }

#parameters input, #parameters button {	margin-top: 12px; }

#parameters button { margin-right: 12px; }

#parameters input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	float: left;
	padding-bottom: 8px;

	background-repeat: no-repeat;
	background-position: center 16px; }

#parameters input[name='age'] {
	width: 98px;
	height: 88px;
	padding-top: 65px;
	text-align: center;

	border-right: 1px solid #ccc;
	border-radius: 2px 0 0 2px;
	background-image: url(../img/age.png); }

#parameters input[name='weight'] {
	width: 98px;
	height: 88px;
	padding-top: 65px;
	text-align: center;

	border-right: 1px solid #ccc;
	background-image: url(../img/weight.png); }

#parameters input[name='height'] {
	width: 98px;
	height: 88px;
	padding-top: 65px;
	text-align: center;

	margin-right: 12px;
	border-radius: 0 2px 2px 0;
	background-image: url(../img/height.png); }

#parameters input[name='waist'] {
	width: 130px;
	height: 44px;
	padding-top: 8px;
	padding-left: 32px;

	border-radius: 2px 2px 0 0;
	background-image: url(../img/waist.png);
	background-position: 11px 10px;
	text-align: center; }

#parameters input[name='hip'] {
	width: 130px;
	height: 44px;
	padding-top: 8px;
	padding-left: 32px;

	margin-right: 12px;
	margin-left: -130px;
	margin-top: 56px;

	border-top: 1px solid #ccc;
	border-radius: 0 0 2px 2px;
	background-image: url(../img/hip.png);
	background-position: 7px 10px;
	text-align: center; }

#sex {
	float: left;
	width: 88px;
	height: 88px;
	margin-top: 12px;
	margin-right: 12px;

	position: relative;

	border-radius: 2px;
	background: #fff; }

#sexSel {
	width: 36px;
	height: 36px;

	position: absolute;
	top: 4px; left: 4px;

	border-radius: 2px;
	background: #e0e0e0;
	box-shadow: 0 0 5px rgba(0,0,0,.3) inset;

	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s; }

#male, #female, #infant, #pregnant {
	width: 44px;
	height: 44px;
	float: left;
	position: relative;
	z-index: 1;

	cursor: pointer;
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: 9px; }

#male {	background-image: url(../img/male.png) }
#female { background-image: url(../img/female.png) }
#infant { background-image: url(../img/infant.png); background-size: 27px }
#pregnant { background-image: url(../img/pregnant.png);	background-size: 27px }

#activity {
	float: left;
	width: 120px;
	height: 88px;
	margin-top: 12px;
	margin-right: 12px;

	border-radius: 2px;
	position: relative;
	background: #fff url(../img/activity.png) no-repeat center 16px; }

#actSel {
	width: 16px;
	height: 28px;

	position: absolute;
	bottom: 6px; left: 4px;

	border-radius: 2px;
	background: #e0e0e0;
	box-shadow: 0 0 5px rgba(0,0,0,.3) inset;

	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s; }

#activity span {
	display: block;
	float: left;
	width: 20%;
	height: 26px;
	padding-top: 5px;
	padding-bottom: 4px;

	position: relative;
	top: 53px;

	font-size: 14px;
	text-shadow: 0 1px 0 #fff;
	text-align: center;
	cursor: pointer; }

#parameters input[name='grams'] {
	width: 98px;
	height: 88px;
	padding-top: 65px;
	text-align: center;

	border-right: 1px solid #ccc;
	border-radius: 2px 0 0 2px;
	background-image: url(../img/grams.png); }

#parameters input[name='error'] {
	width: 98px;
	height: 88px;
	padding-top: 65px;
	text-align: center;

	margin-right: 12px;
	border-radius: 0 2px 2px 0;
	background-image: url(../img/error.png); }

#parameters button, #bigPanels button {
	float: left;
	width: 64px;
	height: 88px;

	border-radius: 2px;
	cursor: pointer; }

#pP { background: #fff url(../img/play.png) no-repeat center 40px; }
#pP span { position: relative; top: -15px; }

#genetic {
	float: left;
	height: 88px;
	width: 64px;
	margin-top: 12px;

	border-radius: 2px;
	cursor: pointer;
	background: #fff url(../img/dna.png) no-repeat center;

	position: relative;
	z-index: 2; }

#indoor_gen {
	float: left;
	margin-top: 12px;
	margin-right: 12px;
	width: 8px;
	position: relative;
	left: -32px;
	z-index: 1;

	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s; }

#indoor_gen input {
	height: 22px;
	width: 100%;
	padding: 0 6px;
	margin: 0;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #eee; }

#indoor_gen input:nth-child(1){ border-radius: 0 2px 0 0; }
#indoor_gen input:nth-child(4){ border-radius: 0 0 2px 0; }



/* --- Main section --- */

#litPanels {
	float: left;
	width: 150px;
	margin-left: 12px; }

#litPanels > div {
	width: 150px;
	margin-top: 12px;
	border-radius: 8px 8px 2px 2px;
	text-align: center;
	background: #fff;

	position: relative; }

#litPanels abbr {
	display: block;
	padding: 3px 0;
	background: #e0e0e0;
	border-radius: 2px 2px 0 0; }

#litPanels span {
	display: block;
	padding: 6px 0;
	font-size: 22px; }

#litPanels > p {
	display: block;
	padding-bottom: 6px; }

#litPanels > div > p { padding-bottom: 6px; }

#bigPanels {
	float: left;
	margin-left: 12px;
	padding-bottom: 12px; }

#bigPanels > div {
	float: left;
	text-align: center; }

#bigPanels abbr, #bigPanels > p, #results p, #food p {
	display: block;
	padding: 3px 0;
	background: #e0e0e0; }

#bigPanels table { width: 96%; margin: 0 auto; }

#bigPanels td { width: 50%; padding: 2px 0; font-size: 15px; }
#bigPanels tr:first-child td { padding-top: 4px; }
#bigPanels tr:last-child td { padding-bottom: 8px; }

#rdi {
	width: 230px;
	margin-top: 12px;
	border-radius: 8px 0 0 2px;
	background: #fff;
	box-shadow: 3px 0 8px rgba(0,0,0,.1);
	position: relative;
	z-index: 3; }

#rdi abbr {	border-radius: 2px 0 0 0; }

#results {
	width: 100px;
	margin-top: 12px;
	margin-right: 12px;
	border-radius: 0 8px 2px 0;
	background: #f9f9f9; }

#results p {
	border-radius: 0 2px 0 0;
	background: #ddd; }

#results td { text-shadow: 0 1px 0 #fff; }

#fError {
	padding: 6px;
	margin-top: 12px;
	border-radius: 2px;
	font-size: 15px;
	background: #ffa;
	box-shadow: 3px 0 8px rgba(0,0,0,.2);

	position: absolute;
	bottom: -42px; right: -52px; }

#food {
	margin-top: 12px;
	margin-right: 12px;
	border-radius: 8px 8px 2px 2px;
	background: #fff; }

#food p { border-radius: 2px 2px 0 0; }

#foodQ { width: 100% !important; }

#foodQ tr td:nth-child(1){ width: 75%; }
#foodQ tr td:nth-child(2){ width: 25%; }

#foodQ { width: 100%; }

#foodQ tbody { float: left; padding: 0 6px; margin: -2px 0; }

#foodQ tbody:nth-child(2n) {
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	background: #f9f9f9; }

#bigPanels button { margin: 12px 12px 0 0; }

.more_info {
	width: 18px !important;
	height: 18px;
	border-radius: 9px !important;
	background: rgba(0,0,0,.05) !important;
	box-shadow: 0 1px 0 rgba(0,0,0,.16) inset, 0 1px 0 rgba(255,255,255,.5);
	cursor: pointer;

	position: absolute;
	top: 5px; right: 5px; }

.more_info:hover { background: rgba(0,0,0,.1) !important; }

.more_info p {
	font-size: 16px;
	text-shadow: 0 1px 0 rgba(0,0,0,.16);
	color: rgba(255,255,255,.75);

	position: relative;
	top: -2px; left: 0px;

	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s; }

.more_info:hover p { color: rgba(255,255,255,.95); }

.mini_info {
	display: block;
	visibility: hidden;
	width: 200px;
	padding: 6px 8px;
	border-radius: 2px;
	font-size: 14px;
	background-color: rgba(0,0,0,.8);
	color: #eee;
	box-shadow: 0 1px 4px rgba(0,0,0,.5);
	text-shadow: 0 1px 0 #000;

	position: absolute;
	z-index: 6;
	top: -6px; right: -225px;

	filter:alpha( opacity=0 );
	-moz-opacity: 0;
	opacity: 0;

	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s; }

.mini_info:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-right: 12px solid rgba(0,0,0,.8);

	position: absolute;
	top: 8px; left: -12px; }



/* --- Tables --- */

#ftable {
	width: 97.5%;
	margin: 32px auto;
	border: none;
	border-radius: 9px;
	text-align: center;
	font-size: .7em;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0,0,0,.3);

	position: relative;
	top: -16px; }

#ftable th, #ftable td {
	padding: 2px;
	border: none; }

#ftable th:first-child { border-right: 1px solid rgba(0,0,0,.1); }

/* Rows */
#ftable tr:nth-child(odd) { background: #ddf; }
#ftable tr:first-child th { background: #e0e0e0; border-bottom: 1px solid rgba(0,0,0,.1); cursor: pointer; }

/* Columns */
#ftable td:nth-child(odd) { background: rgba(0,0,0,.05); }
#ftable tr:first-child th:nth-child(odd) { background: #d2d2d2; }

/* Corners */
#ftable tr:first-child th:first-child { border-radius: 2px 0 0 0; }
#ftable tr:first-child th:last-child { border-radius: 0 2px 0 0; }
#ftable tr:last-child td:last-child { border-radius: 0 0 2px 0; }
#ftable tr:last-child th:first-child { border-radius: 0 0 0 2px; }



/* --- Info --- */

#information {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 90%;
	padding: 16px;
	margin: 32px auto;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0,0,0,.1); }

#information h2 {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 400; }

#information p {
	margin-bottom: 10px;
	line-height: 28px; }

#information footer p {	margin-top: 20px; font-size: 14px; }

#information footer img { position: relative; top: 3px; }
#information footer span { position: relative; top: -1px; }



/* --- Help --- */

#help {
	width: 90%;
	margin: 32px auto; }

.help_col {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	float: left;
	width: 30%;
	min-height: 333px;
	padding: 16px;
	margin-right: 5%;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0,0,0,.1); }

.help_col:hover { background: #eee; }

.help_col:last-child { margin-right: 0; }

.help_col h2 {
	text-align: center;
	font-size: 20px;
	font-weight: 400; }

.help_col img { display: block; width: 128px; margin: 0 auto; }

.help_col p { line-height: 28px; }



/* --- Responsive Design (Mobile First) --- */

@media screen and ( min-width: 768px ){}

@media screen and ( min-width: 1024px ){}