
body {
	background: #fff;
	font-size: 12pt;
}

#head, #head nav, #side, #foot {
	display: none;
}

#wrap, #main {
	width: 100%;
	margin: 0 4%;
	padding: 0;
	border: 0;
	float: none !important;
	color: #000;
	background: transparent;
}

a:link, a:visited {
	color: #520;
	font-weight: 700;
	background: transparent;
	text-decoration: underline;
}

#main a:link:after, #main a:visited:after {
	content: " (" attr(href) ") ";
	font-size: 90%;
}

#main a[href^="/"]:after {
	content: " (http://www.kiwibit.net" attr(href) ") ";
}

img {
	max-width: 500px;
}