@import '../shared/utils/base.scss';

.food-list {
    list-style: circle;
    padding: 0 20px;

    @media (min-width: 1400px) {
        column-count: 2;
    }
    @media (min-width: 2100px) {
        column-count: 3;
    }
    @media (min-width: 2800px) {
        column-count: 4;
    }
}

.food-list li span {
    color: #333;

    &:hover,
    &:focus {
        color: #000;
    }
}
