@import './reset';
@import './constants';

* {
    box-sizing: border-box;

    &:not(.fas) {
        font-family: 'Open Sans', sans-serif !important;
    }
}

input,
button,
select {
    padding: $margin-sm $margin;
    color: $font-color;
    background-color: #fff;
    border: 1px solid $border-color;

    &:hover,
    &:focus {
        color: #000;
        border: 1px solid $border-color-hover;
    }
}

input {
    box-shadow: $shadow-sm inset;
}

button {
    box-shadow: $shadow-sm;
    cursor: pointer;
}

// dl {
//     > dt {
//         float: left;
//         text-align: right;
//         margin-right: 12px;
//         min-width: 150px;
//         font-weight: bold;
//         color: $font-color;
//     }
//
//     > dt,
//     > dd {
//         margin-bottom: 6px;
//     }
// }

// table {
//     border-collapse: collapse;
//     border-bottom: 1px solid #ddd;
//
//     > thead {
//         background-color: #eee;
//         border-top: 1px solid #ccc;
//         border-bottom: 1px solid #ccc;
//
//         th {
//             color: $font-color;
//             text-align: left;
//             padding: 8px;
//         }
//     }
//
//     > tbody {
//         td {
//             padding: 3px 8px;
//         }
//
//         > tr:nth-child(even) {
//             background-color: #f4f4f4;
//         }
//     }
// }

// .overlay {
//     display: block;
//     width: 100vw;
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     left: 0;
//     background-color: rgba(0, 0, 0, 0.5);
//     z-index: 99;
// }

// .modal {
//     min-width: 75vw;
//     max-height: 90vh;
//     overflow-y: auto;
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background: white;
//     box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
//     z-index: 100;
//
//     h2:first-child {
//         margin-top: 0;
//     }
// }
