.find-foods-modal {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding: $margin-lg;
    border: 1px solid $border-color;
    border-top: none;
    background-color: #fff;
    box-shadow: $shadow;
    outline: 10000vw solid $backdrop-color;

    > .h.box {
        padding-bottom: $margin;
        border-bottom: 1px solid $border-color;
        margin-bottom: $margin;

        > input {
            margin: 0 $margin;
        }
    }

    > ul {
        max-height: 50vh;
        overflow-y: auto;

        > li {
            padding: $margin-sm;

            &.no-results {
                text-align: center;
                color: $font-color-light;
            }

            > a {
                color: $font-color;
                text-decoration: none;

                &:hover,
                &:focus {
                    color: $font-color-hover;
                }
            }
        }
    }
}
