@import '../shared/styles/base';
@import '../shared/styles/common';
@import '../shared/styles/box';
@import url('../../node_modules/@fortawesome/fontawesome-free/css/solid.css');
@import url('../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css');
@import './findFoodsModal';

body {
    padding: $margin-lg;
}

.food-details {
    output {
        margin-left: $margin;
        color: $font-color-light;
    }

    output.high {
        color: $color-red;
    }

    > h1 {
        font-size: $font-size-xl;
        padding-bottom: $margin;
        border-bottom: 1px solid $border-color;
        margin-bottom: $margin-sm;

        > a {
            float: right;
            margin: $margin-sm 0 0 $margin;
            color: $color-blue;
            font-size: $font-size-lg;

            &:hover:not(.disabled) {
                cursor: pointer;
                color: $color-dark-blue;
            }

            &.disabled {
                opacity: 0.5;
            }
        }
    }

    > ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-column-gap: $margin-lg;

        > li {
            margin-top: $margin-lg;

            > progress {
                height: 8px;
                width: 100%;
                border: none;
            }
        }
    }
}
