@import '../shared/styles/base';
@import '../shared/styles/common';
@import '../shared/styles/box';
@import url('../../node_modules/@fortawesome/fontawesome-free/css/solid.css');
@import url('../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css');
@import './findFoodsModal';
@import './foodGroupCircle';

body {
    padding: $margin-lg;
}

.no-food {
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    > p {
        font-size: $font-size-lg;
        color: $font-color-light;
        margin-bottom: $margin-xl;
    }

    > a {
        color: $color-blue;
        font-size: 128px;

        &:hover {
            cursor: pointer;
            color: $color-dark-blue;
        }
    }
}

.food-details {
    output {
        margin-left: $margin;
        color: $font-color-light;
    }

    > h1 {
        font-size: $font-size-xl;
        padding-bottom: $margin;
        border-bottom: 1px solid $border-color;
        margin-bottom: $margin-sm;

        > .food-group-circle {
            height: 20px;
            width: 20px;
        }

        > a {
            float: right;
            margin: $margin-sm 0 0 $margin;
            color: $color-blue;
            font-size: $font-size-lg;

            &:hover:not(.disabled) {
                cursor: pointer;
                color: $color-dark-blue;
            }

            &.disabled {
                opacity: 0.5;
            }
        }
    }

    > ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-column-gap: $margin-lg;

        > li {
            margin-top: $margin;
            position: relative;

            > h2 {
                margin-bottom: $margin-sm;

                > a {
                    color: $font-color;
                    text-decoration: none;

                    &:hover {
                        color: $font-color-hover;
                    }
                }
            }

            &.incomplete > progress {
                &::-moz-progress-bar { background-color: $progress-incomplete; }
                &::-webkit-progress-value { background-color: $progress-incomplete; }
            }
            &.complete > progress {
                &::-moz-progress-bar { background-color: $progress-complete; }
                &::-webkit-progress-value { background-color: $progress-complete; }
            }
            &.exceeding > progress {
                &::-moz-progress-bar { background-color: $progress-exceeding; }
                &::-webkit-progress-value { background-color: $progress-exceeding; }
            }
            &.possibly-exceeding > progress {
                &::-moz-progress-bar { background-color: $progress-possibly-exceeding; }
                &::-webkit-progress-value { background-color: $progress-possibly-exceeding; }
            }

            > progress {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                height: 30px;
                width: 100%;
                border: 1px solid #555;

                $background-color: #eee;
                background-color: $background-color;
                &::-webkit-progress-bar {
                    background-color: $background-color;
                }
            }

            > .progress-start,
            > .progress-end {
                position: absolute;
                top: 29px;
                font-size: $font-size-sm;
                color: rgba(0, 0, 0, 0.9);
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
            }

            > .progress-start {
                left: $margin;
            }

            > .progress-end {
                right: $margin;
            }
        }
    }
}
