.header {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-bottom: 1px solid #888;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

    h1 {
        margin: 0;

        a {
            padding: 5px 20px;
        }
    }

    a {
        color: #333;
        text-decoration: none;
        display: inline-block;

        &:hover {
            color: #000;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            padding: 10px 5px;
        }
    }
}
